In [23]:
import pandas as pd
df = pd.read_csv('trail.csv')
df

   Unnamed: 0    fruit     food  calories  sleep  water
0           0   Banana  Biryani     200.0    8.0      2
1           1      NaN     Rice     150.0    7.0      3
2           2  Coconut      NaN       NaN    NaN      2

In [25]:
df = df.iloc[:,1:]

In [41]:
from sklearn.impute import SimpleImputer,KNNImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [27]:
si_cat = SimpleImputer(strategy='most_frequent')
si_num = SimpleImputer()

In [37]:
categorical_columns = df.dtypes[df.dtypes == 'object'].index
numerical_columns = df.dtypes[df.dtypes != 'object'].index

In [39]:
Imputing = ColumnTransformer(
    [('categorical imputation', si_cat , categorical_columns),
     ('numerical imputation', si_num, numerical_columns)
     ], remainder= 'passthrough'
)

In [48]:
ohe_and_scaling = ColumnTransformer(
    [('ohe', OneHotEncoder(handle_unknown='ignore'), [0,1] ),
     ('scaling', StandardScaler(), [2,3,4] )]
)

In [50]:
pipe = Pipeline(
    [('imputation', Imputing),('Ohe and Scaling', ohe_and_scaling )]
)

In [51]:
pipe.fit_transform(df)

array([[ 1.        ,  0.        ,  1.        ,  0.        ,  1.22474487,
         1.22474487, -0.70710678],
       [ 1.        ,  0.        ,  0.        ,  1.        , -1.22474487,
        -1.22474487,  1.41421356],
       [ 0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        , -0.70710678]])